@use "./../../skin_config" as skin;
@use "./../../colors" as color;

.block-editor-block-list__layout,
.#{skin.$skin-name} {
    .wp-block-button {
        // ボタンのスタイルを明示的に選択しない場合はoutlineと同じとする
        .wp-block-button__link,
        &.is-style-outline .wp-block-button__link {
            box-shadow: 4px 4px 10px 0px #09276633;

            &:not(:hover):not(:active):not(.has-text-color) {
                color: var(--global--color-primary);
                background-color: #fff;
                transition: all .3s ease 0s;
            }
            &:hover {
                color: var(--global--color-primary-dark) !important;
                background-color: #fff !important;
                border-color: var(--global--color-primary) !important;
                transform: translateY(2px);
                box-shadow: none;
            }
        }
        &.is-style-fill {
            .wp-block-button__link {

                background-image: svg-load("../../../../build/images/icons/btn-bg.svg");
                background-repeat: no-repeat;
                background-position: right center;
                background-size: contain;
                border: none;
                color: #fff !important;
 
                &:not(:hover):not(:active):not(.has-text-color) {
 
                    background-color: #{color.$Samurai-Primary-500} !important;
                }
                &:hover {
                    transform: translateY(2px);
                    color: #fff !important;
                    background-color: #{color.$Samurai-Primary-600} !important;
                }
            }
        }
    }
    .has-background .wp-block-button {
        &.is-style-outline {
            .wp-block-button__link {
                &:not(:hover):not(:active):not(.has-text-color) {
                    background-color: #fff;
                    border-color: var(--global--color-primary);
                    color: var(--global--color-primary);
                }
            }
        }
    }
}
