@use './../../../../../common/variables/common' as cmn;
@use './../../skin_config' as skin;
@use "./../../colors" as color;

.block-editor-block-list__layout .wp-block-latest-posts,
.#{skin.$skin-name} .wp-block-latest-posts,
.#{skin.$skin-name} .wp-block-cover .wp-block-cover__inner-container .wp-block-latest-posts {
    &.wp-block-latest-posts__list {
        .wp-block-latest-posts__post-date,
        .wp-block-latest-posts__post-author {
            color: #{color.$color-body-400};
        }
        > li {
            // post title
            > a {
                color: var(--global--color-body);
                &:hover {
                    text-decoration-color: var(--global--color-primary);
                }
            }
            .wp-block-latest-posts__featured-image {
                > a {
                    border: 2px solid var(--global--color-body);
                }
            }
        }
    }
}

@media only screen and (min-width: #{cmn.$breakpoint_md}) {
    .block-editor-block-list__layout .is-style-default.wp-block-latest-posts,
    .#{skin.$skin-name} .wp-block-latest-posts {
        &.wp-block-latest-posts__list {
            > li {
                display: flex;
                flex-direction: row-reverse;
                justify-content: left;
                margin-top: 2em;
                margin-bottom: 0;

                a{
                    color: #{color.$Samurai-Body-500};
                    font-size: 24px;
                }
                &::before {
                    display: none;
                }
            }
            &.is-style-default .wp-block-latest-posts__post-date{
                font-size: 24px;
                line-height: var(--global--line-height-heading);
                width: 18%;
            }
        }
    }
}
