@use "./skin_config" as skin;
@use "./colors" as tt1color;

.#{skin.$skin-name} {
    // Site Header
    .site .site-header{
        max-width: 100%;
        background-color:var(--global--color-background);
        padding: 10px 28px ;
        &::before,
        &::after{
            display: none;
        }
    }

    // Site Footer
    .site-footer {
        color: var(--global--color-background);
        background: none;
        padding-bottom: 0;
        .footer-navigation{
            background:var(--global--color-secondary);
            padding: 180px 0 80px;
            margin-bottom: 0;
        .footer-navigation-wrapper {
            li {
                a {
                    &:link,
                    &:visited,
                    &:active {
                        color: var(--global--color-background);
                    }
                }
            }
        }
    }
        > .site-info {

            margin-bottom: -220px;
            height: 300px;

            .site-name{
                margin-right: 0;
                margin-bottom: 20px;
            }

            //プライバシーポリシーのスタイル、不要なら後で消す
            .privacy-policy + .powered-by{
                margin-left: 0;
            }
            
            .privacy-policy, 
            .powered-by {
                text-align: center;
                margin-left: 0;
                color: #{tt1color.$flower-base-500};
                font-family: var(--skin--list--font-family);
                a {
                    color: #{tt1color.$flower-base-500};
                }
            }
        }
    }

    &.has-background-white .site .footer-navigation-wrapper a:focus:not(.wp-block-button__link):not(.wp-block-file__button) {
        background: #{tt1color.$flower-primary-500};
        opacity: 0.7;
    }

    //footer rotated text
    position: relative;
    .tt1flower-text{
        font-family: 'Clicker Script', cursive !important;
        color: #fff;
        line-height: 1;
        text-align: center;
        position: absolute;
        bottom: 70px;
        right: 30px;
        transform: rotate(-18.05deg);
        width: 390px;
        text-shadow: 0px 0px 6px rgba(191, 10, 54, 0.65);
    }
}

@media only screen and (min-width: 1500px) {
	.#{skin.$skin-name}{
        .tt1flower-text{
    		right: calc(50% - 750px)
        }

        .site .site-header{
            justify-content: space-between;
            max-width: 1920px;
            .primary-navigation{
                right: inherit;
                margin-left: 100px;
            }
        }
	}
   
}