@use "./skin_config" as skin;
@use "./colors" as tt1color;

//Homeのみ 
.#{skin.$skin-name}.home {

    //背景カバーブロックの横幅とinnerを調整
    .wp-block-cover{
        padding: 0;
        .wp-block-cover__inner-container{
            width: 100%;
        }
    }
    //ファーストビュービジュアル
    .ttlflower-top-visual{
        .blocks-gallery-grid{
            display: block;
            position: relative;
        }
        .wp-block-gallery.columns-3.is-cropped{
            display: block;
            max-width: 65vw !important;
            height: 2.6vw;
            margin-top: -34px;
            margin-right: 11.5vw !important;
            .blocks-gallery-item{
                figure{
                    display: block;
                }
                display: block;
                width: auto;
            }
            .blocks-gallery-item:first-child img{
                width:29vw;
                height:29vw;
                object-fit:cover;
                border-radius:50%;
                position: absolute;
                top: 50px;
            }
            .blocks-gallery-item:nth-child(2) img{
                width:40vw;
                height:40vw;
                object-fit:cover;
                border-radius:50%;
                position: absolute;
                top:0;
                right: 0;
            }
            .blocks-gallery-item:last-child img{
                width:20vw;
                height:20vw;
                object-fit:cover;
                border-radius:50%;
                position: absolute;
                top: 28.9vw;
                left: calc(50% - 10vw);
            }

        }
        .wp-block-columns{
            .wp-block-column{
                color: #fff;
                flex-basis: inherit;
                
                &:first-child{
                    height: 36vw;
                    padding-bottom: 3vw;
                    margin-top: 3vw;
                    width: 54.5vw;
                    display:flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: flex-end;
                    p,h1,h2,h3{
                        width: 100%;
                        z-index: 1000000;
                        position: relative;
                        text-shadow: 3px 3px 2px rgba(191, 10, 54, 0.65);
                        margin-bottom: 0;
                    }
                }
                &:last-child{
                width:48.5vw;
                height:48.5vw;
                border-radius:50%;
                margin-left: -3vw;
                position: relative;
                z-index: -1;

                p{
                    font-family: 'Clicker Script', cursive !important;
                    color: #fff;
                    line-height: 1;
                    text-align: center;
                    position: absolute;
                    bottom: 5vw;
                    left: 50%;
                    margin-left: -160px;
                    transform: rotate(-18.05deg);
                    width: 480px;
                    text-shadow: 0px 0px 6px rgba(191, 10, 54, 0.65);
                }
                }

                // デフォルトカラーではピンク背景の白地にする
                &:not(.has-background) {
                    background-color:rgba(191, 10, 54, 0.65);
                    color: #fff;
                }

            }
        }


    }


    // イントログループ ブロック
    .tt1flower-home-intro{
        .wp-block-media-text{
            border-radius: 50vw;
            grid-template-columns: 23.3vw calc(100% - 23.3vw);
            max-width: 1723px;
            float: right;

            &::after{
                content: "";
                display: block;
                clear: both;
            }

            // デフォルトカラーではピンク背景の白地にする
            &:not(.has-background) {
                background-color:rgba(191, 10, 54, 0.65);
                color: #fff;
            }

            .wp-block-media-text__content{
                > *{
                    margin-top: 0 !important;
                }
                .wp-block-columns{
                    flex-direction: row-reverse;
                }

            }

            &.main{
                grid-template-columns: 33.3vw  calc(100% - 33.3vw) ;
                max-width:1580px;
                float: right;
                .wp-block-media-text__media{
                    width: 33.3vw;
                    height: 33.3vw;
                }
                .wp-block-media-text__content{
                    padding: 40px 25% 40px 40px;
                    h2,h3{
                        + *{
                            margin-top: 1em !important;
                        }
                    }
                }
            }

            &.has-media-on-the-right{
                grid-template-columns: calc(100% - 23.3vw) 23.3vw ;
                float: left;
                .wp-block-media-text__content{
                    padding: 40px;
                    .wp-block-columns{
                        flex-direction: row;
                    }
                }
            }

            .wp-block-media-text__media {
                width:23.3vw;
                height:23.3vw;
                object-fit:cover;
                border-radius:50%;
            }
            .wp-block-media-text__content{
                padding: 40px;
                h2 {
                    font-family: var(--skin--ja--font-family);
                    color: var(--global--color-secondary);
                    background: #fff;
                    border-radius: 50vw;
                    display: table;
                    margin: 0 auto;
                    padding: 8px 40px;
                    width: 100%;
                    text-align: center;
                }
                h3{
                    font-family: var(--skin--ja--font-family);
                    color: var(--global--color-secondary);
                    background: #fff;
                    border-radius: 50vw;
                    font-size: 1em;
                    display: table;
                    margin: 0 auto;
                    padding: 8px 40px;
                }

                .wp-block-columns{
                    &:not(.is-not-stacked-on-mobile) > .wp-block-column:not(:first-child){
                        margin-left: 0;
                    }
                    gap: 40px;
                }

            }
        }

        .wp-block-media-text +.wp-block-media-text
        {
            margin-top: 4.8vw;
        }
        + *{
            margin-top: 4.8vw;
        }
    }

    .ttlflower-top-visual + .tt1flower-home-intro{
        margin-top: 3vw;
    }


 
    // Gallery 6 columns 画像間の隙間を削除
    .wp-block-gallery{
        .blocks-gallery-item{
            margin: 0;
        }
        &.columns-6 .blocks-gallery-item{
            margin-right: 0;
        }
    } 



}

//Homeのみ 1920以上
@media only screen and (min-width: 1919px) {
    .#{skin.$skin-name}.home {
        //ファーストビュービジュアル
        .ttlflower-top-visual{
            .wp-block-gallery.columns-3.is-cropped{
                max-width: 1280px !important;
                margin-right: 190px !important;
                .blocks-gallery-item:first-child img{
                    max-width:603px;
                    max-height:603px;
                    top: 50px;
                }
                .blocks-gallery-item:nth-child(2) img{
                    max-width:822px;
                    max-height:822px;
                }
                .blocks-gallery-item:last-child img{
                    max-width:420px;
                    max-height:420px;
                    top: 581px;
                    left: calc(50% - 210px);
                }
    
            }
            .wp-block-columns{
                .wp-block-column{
                    &:first-child{
                        width: 60%;
                        max-height: 670px;
                    }
                    &:last-child{
                    max-width:982px;
                    max-height:982px;
                    margin-left: -15%;
    
                    p{
                        bottom: 96px;
                        left: 50%;
                        margin-left: -160px;
                    }
                    }
                }
            }
        }

        // イントログループ ブロック
        .tt1flower-home-intro{
            .wp-block-media-text{
                grid-template-columns: 447.36px calc(100% - 447.36px);
    
    
                &.main{
                    grid-template-columns: 639.36px  calc(100% - 639.36px) ;
                    .wp-block-media-text__media{
                        width: 639.36px;
                        height: 639.36px;
                    }
                }
    
                &.has-media-on-the-right{
                    grid-template-columns: calc(100% - 447.36px) 447.36px ;
                }
    
                .wp-block-media-text__media {
                    width:447.36px;
                    height:447.36px;
                }
            }
    
            .wp-block-media-text +.wp-block-media-text
            {
                margin-top: 90px;
            }
            + *{
                margin-top: 90px;
            }
        }
    
        .ttlflower-top-visual + .tt1flower-home-intro{
            margin-top: 90px;
        }    
    
    }

}