@use "./../../../../common/variables/common" as cmn;
@use "./../skin_config" as skin;

.#{skin.$skin-name} {
	--logo-width: 384px;
	--logo-height: 96px;
	--footer-logo-width: 418px;
	--footer-logo-height: 130px;

	.site-branding {
		width: min(50vw, var(--logo-width));
		height: min(18vw, var(--logo-height));
		margin-left: -1.5rem;
	}
	.site-branding::before {
		position: absolute;
	}
	.site-footer > .site-info .site-name::after,
	.site-branding::before {
		visibility: visible;
		content: "";
		display: flex;
		background-size: cover;
	
	}
	.site-footer > .site-info .site-name,
	.site-description,
	.site-branding .site-title {
		visibility: hidden;
	}

	// Header logo
	.site-branding .site-title > a {
		visibility: visible;
		opacity: 0;
		display: flex;
		width: min(58vw, var(--logo-width));
		height: min(21vw, var(--logo-height));
	}
	.site-branding {
		&::before {
			width: min(58vw, var(--logo-width));
			height: min(21vw, var(--logo-height));
			background-image: svg-load("../../../../build/images/icons/logo--main.svg");
		}
	}

	// Footer logo
	.site-footer > .site-info {
		.site-name {
			&::after {
				margin-left: auto;
				margin-right: auto;
				width: min(58vw, var(--footer-logo-width));
				height: min(21vw, var(--footer-logo-height));
				background-image: svg-load("../../../../build/images/icons/logo--stroked.svg");
			}
		}

	}
}

// tablet =<
@media only screen and (min-width: #{cmn.$breakpoint_lg}) {
	.#{skin.$skin-name} {
		.site-branding {
			margin-left: -1.5rem;
		}
	}
}