@use "./../../../../common/variables/common" as cmn;
@use "./../skin_config" as skin;

.#{skin.$skin-name} {
	--logo-width: 280px;
	--logo-height: 112px;
	--logo-width--square: 394px;
	.site-branding {
		width: clamp(calc(var(--logo-width) / 2), 50vw, var(--logo-width));
		height: clamp(calc(var(--logo-height) / 2), 18vw, var(--logo-height));
		margin-left: -3vw;
	}
	.site-branding::before {
		position: absolute;
	}
	.site-footer > .site-info .site-name::after,
	.site-branding::before {
		visibility: visible;
		content: "";
		display: flex;
		background-size: cover;
	}
	.site-footer > .site-info .site-name,
	.site-description,
	.site-branding .site-title {
		visibility: hidden;
	}

	// Header logo
	.site-branding .site-title > a {
		visibility: visible;
		opacity: 0;
		display: flex;
		width: min(50vw, var(--logo-width));
		height: min(18vw, var(--logo-height));
	}
	.site-branding {
		&::before {
			width: min(50vw, var(--logo-width));
			height: min(18vw, var(--logo-height));
			background-image: svg-load("../../../../build/images/icons/logo--margined.svg");
		}
	}

	// Footer logo
	.site-footer > .site-info .site-name {
		&::after {
			margin-left: auto;
			margin-right: auto;
			width: min(60vw, var(--logo-width--square));
			height: min(60vw, var(--logo-width--square));
			background-image: svg-load("../../../../build/images/icons/logo--knockout.svg");
		}
	}
}

// tablet =<
@media only screen and (min-width: #{cmn.$breakpoint_lg}) {
	.#{skin.$skin-name} {
		.site-branding {
			margin-left: -1.5rem;
		}
	}
}