@use './../../../../common/variables/common' as cmn;
@use "./../skin_config" as skin;
@use "./../colors" as tt1color;

.block-editor-block-list__layout,
.#{skin.$skin-name} {
    .widget-area {
        .wp-block-group.tt1skin-widget-columns {
            > .wp-block-group__inner-container {                
                > .wp-block-group {
                    //左上の三角スタイル
                    position: relative;
                    &::before{
                        position: absolute;
                        content: "";
                        left: 0;
                        top: 0;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 50px 50px 0 0;
                        border-color: #{tt1color.$Samurai-Primary-500} transparent transparent transparent;
                        z-index: 9999;
                    }

                    .tt1-widget-title{
                        opacity: 1;
                    }

                    h3{
                        margin: 1.5em 0 1em 0;
                        position: relative;
                        color: #{tt1color.$Samurai-Primary-600} ;
                        &::after{
                            content: '';
                            width: 70px;
                            height: 4px;
                            display: inline-block;
                            background-color: #{tt1color.$Samurai-Accent-500} ;
                            position: absolute;
                            bottom: -15px;
                            left: calc(50% - 35px)
                        }

                    }
                }
            }
        }
    }
}