@use "./../../skin_config" as skin;
@use "./../../functions" as func;

.block-editor-block-list__layout h2,
.block-editor-block-list__layout h3,
.#{skin.$skin-name} h2,
.#{skin.$skin-name} h3 {
    &.is-style-section-title {
        font-weight: 700;
        margin-bottom: 0;
        position: relative;
        word-break: break-all;
        line-height: 0.9;
        & + * {
            margin-top: 0;
            padding-top: 0;
        }
        &.has-text-align-right {
            &::before,
            &::after {
                right: 0;
            }
        }
    }
}

.block-editor-block-list__layout h2,
.#{skin.$skin-name} h2 {
    font-size: min(6.55vw, 38px);
    &.is-style-section-title {
        font-size: min(6.55vw, 58px);
        @include func.fontSizes;
        text-align: center;
        font-weight: 700;
        margin-top: 1em;
        margin-bottom: 0.5em;
        position: relative;
        text-shadow: 0 0 2px white;
        line-height: 1.4em;
        padding-bottom: 20px;
        &::after{
            content: "";
            position: absolute;
            bottom: 0;
        	left: 50%;
	        transform: translateX(-50%);
        	width: 14px;
        	height: 14px;
            background-color:var(--global--color-secondary);
        	border-radius: 7px;
        }
    }
}

.block-editor-block-list__layout h3,
.#{skin.$skin-name} h3 {
    &.is-style-section-title {
        font-size: min(9vw, 64px);
        @include func.fontSizes;
    }
}

