@use "./colors" as color;
@use "./skin_config" as skin;

body.block-editor-block-preview__container,
body.block-editor-writing-flow,
.#{skin.$skin-name} {
    // font-family
    --font-headings: "Noto Serif JP", serif;
    --heading--font-family: "Noto Serif JP", serif;
    --skin--list--font-family: "Noto Serif JP", serif;
    --skin--ja--font-family: "Noto Serif JP", serif;
    --footer--font-family: "Noto Serif JP", serif;

    // color
    --global--color-primary: #{color.$Samurai-Primary-500};
    --global--color-primary-dark: #{color.$Samurai-Primary-700};
    --global--color-secondary: #{color.$Samurai-Accent-500};
    --global--color-body: #{color.$Samurai-Body-600};
    --global--color-background: #{color.$Samurai-base-500};
    --global--color-border: #{color.$Samurai-Primary-300};


    // font size
    --primary-nav--font-size: 18px;
    --global--font-size-xs:14px;

    // body color を上書き
    color: var(--global--color-body);
    background-color: var(--global--color-background);
}

// <style id='twenty-twenty-one-style-inline-css'> を打ち消す
body,input,textarea,button,.button,.faux-button,.wp-block-button__link,.wp-block-file__button,.has-drop-cap:not(:focus)::first-letter,.has-drop-cap:not(:focus)::first-letter,.entry-content .wp-block-archives,.entry-content .wp-block-categories,.entry-content .wp-block-cover-image,.entry-content .wp-block-latest-comments,.entry-content .wp-block-latest-posts,.entry-content .wp-block-pullquote,.entry-content .wp-block-quote.is-large,.entry-content .wp-block-quote.is-style-large,.entry-content .wp-block-archives *,.entry-content .wp-block-categories *,.entry-content .wp-block-latest-posts *,.entry-content .wp-block-latest-comments *,.entry-content p,.entry-content ol,.entry-content ul,.entry-content dl,.entry-content dt,.entry-content cite,.entry-content figcaption,.entry-content .wp-caption-text,.comment-content p,.comment-content ol,.comment-content ul,.comment-content dl,.comment-content dt,.comment-content cite,.comment-content figcaption,.comment-content .wp-caption-text,.widget_text p,.widget_text ol,.widget_text ul,.widget_text dl,.widget_text dt,.widget-content .rssSummary,.widget-content cite,.widget-content figcaption,.widget-content .wp-caption-text{
    font-family: "Noto Serif JP", serif !important;
}