@use "./skin_config" as skin;

.#{skin.$skin-name} {
    // page title
    // archive title
    &.archive .page-header .page-title,
    &.page .entry .entry-header .entry-title {
        position: relative;
        font-size: min(12vw, 48px);
        font-weight: 700;
    }
}

@media only screen and (min-width: 1500px) {
    // Homeのみサイドに縦フリになるスタイルをh2.is-style-section-titleに設定
    .tt1skin-special h2,
    .#{skin.$skin-name}.home h2 {
        &.is-style-section-title,
        &.is-style-section-title.alignwide {
            font-size: min(12vw, 80px);
        }
    }
}

@media not all and (min-resolution:.001dpcm) { 
    @supports (-webkit-appearance:none) {
        .#{skin.$skin-name} h2 {
            &.is-style-section-title,
            &.is-style-section-title.alignwide {
                &::before,
                &::after {
                    animation: none;
                }
            }
        }
    }
}
