@use "./skin_config" as skin;
@use "./colors" as color;

.block-editor-block-list__layout,
.block-editor-block-list__block,
.#{skin.$skin-name} {
    // page title
    // archive title
    &.archive .page-header .page-title,
    &.blog .page-title,
    &.page .entry .entry-header .entry-title {
        position: relative;
        font-size: min(12vw, 48px);
        font-weight: 700;
    }

    // 固定ページと投稿アーカイブのタイトル
    &.page .site-main,
    &.blog .site-main{
        padding-top:0;
    }
    &.page{
        .entry-header {
            padding-top: 120px;
            padding-bottom: 120px;
            margin-bottom: 2em;
            max-width: 100%;
            background-image: svg-load("../../../../build/images/icons/BG-primary-600.svg");
            background-position: center;
            background-size: cover;
            .entry-title{
                color: #FFF;
                text-align: center;
                position: relative;
            }
            .entry-title::after{
                content: '';
                width: 70px;
                height: 4px;
                display: inline-block;
                background-color: #{color.$Samurai-Accent-500} ;
                position: absolute;
                bottom: -30px;
                left: calc(50% - 35px)
            }
        }
    }
    &.blog{
        .page-header {
            padding-top: 120px;
            padding-bottom: 120px;
            margin-bottom: 2em;
            max-width: 100%;
            background-image: svg-load("../../../../build/images/icons/BG-primary-600.svg");
            background-position: center;
            background-size: cover;
            .page-title{
                color: #FFF;
                text-align: center;
                position: relative;
            }
            .page-title::after{
                content: '';
                width: 70px;
                height: 4px;
                display: inline-block;
                background-color: #{color.$Samurai-Accent-500} ;
                position: absolute;
                bottom: -30px;
                left: calc(50% - 35px)
            }
        }
    }

    .wp-block-table.is-style-regular td, 
    .wp-block-table.is-style-regular th{
        border-top-color:  #{color.$Samurai-Primary-300} ;
        border-right-color:   #{color.$Samurai-Primary-300} ;
        border-bottom-color: #{color.$Samurai-Primary-300} ;
        border-left-color: #{color.$Samurai-Primary-300} ;
        background: #fff;
        }
}

@media only screen and (min-width: 1500px) {
    //全幅を指定しても1920pxまでとする
    .#{skin.$skin-name} .alignfull{
        max-width: 1920px;
    }
}
