// --- skin prefix
$prefix-skin--common: tt1skin;

// --- theme breakpoint
$default_width: 610px;
$max_content_width: 1240px;
$breakpoint_sm: 482px;
$breakpoint_md: 592px;
$breakpoint_lg: 652px;
$breakpoint_xl: 822px;
$breakpoint_xxl: 1024px;

// --- core breakpoint
$breakpoint_core_xl: 782px;
