// --- skin prefix
$prefix-skin--common: tt1skin;

// --- Colors
// primary 
$color-primary-50: #EEE7FE;
$color-primary-100: #DDCEFB;
$color-primary-200: #BB9EF8;
$color-primary-300: #986DF4; 
$color-primary-400: #763DF1; 
$color-primary-500: #540CED; 
$color-primary-600: #3F09B2;
$color-primary-700: #2A0677;
$color-primary-800: #15033B; 
$color-primary-900: #080118;

// accent-01 
$color-accent-01-50: #F9E6FC;
$color-accent-01-100: #F1CCF7;
$color-accent-01-200: #E399EF; 
$color-accent-01-300: #D566E8; 
$color-accent-01-400: #C733E0;
$color-accent-01-500: #B900D8;
$color-accent-01-600: #8B00A2;
$color-accent-01-700: #5D006C;
$color-accent-01-800: #2E0036;
$color-accent-01-900: #130016; 

// accent-02 
$color-accent-02-50: #FEEAEF;
$color-accent-02-100: #FBD3DD; 
$color-accent-02-200: #F8A7BB; 
$color-accent-02-300: #F47C99; 
$color-accent-02-400: #F15077; 
$color-accent-02-500: #ED2455; 
$color-accent-02-600: #B21B40; 
$color-accent-02-700: #2b2a2a; 
$color-accent-02-800: #3B0915; 
$color-accent-02-900: #180409;

// accent-03 
$color-accent-03-50: #FEFDEB; 
$color-accent-03-100: #FBF9D5; 
$color-accent-03-200: #F8F3AC; 
$color-accent-03-300: #F4ED82; 
$color-accent-03-400: #F1E759; 
$color-accent-03-500: #EDE12F; 
$color-accent-03-600: #B2A923; 
$color-accent-03-700: #777118; 
$color-accent-03-800: #3B380C; 
$color-accent-03-900: #181705;

// body 
$color-body-50: #E9E6E9;
$color-body-100: #D2CCD2;
$color-body-200: #A499A6;
$color-body-300: #776779;
$color-body-400: #49344D;
$color-body-500: #1C0120;
$color-body-600: #150118;
$color-body-700: #0E0110;
$color-body-800: #070008;
$color-body-900: #030003;

// base
$color-base-500: #fbfbfb;
$color-base-600: #bcbcbc;