@use '../variables/common' as cmn;

.#{cmn.$prefix-skin--common} {
	.site-header {
		> .site-logo {
			border-bottom: 0;
			width: auto;
			padding-bottom: 0;
		}
		// logo がある時にsvgのlogoを非表示
		&.has-logo {
			.site-branding {
				width: 1px;
				height: 1px;
				&::before {
					display: none;
				}
			}
			~ .site-footer .site-info .site-name::after {
				display: none;
			}
		}
	}
	.site-footer .site-info .site-name .site-logo {
		visibility: visible;
	}
}