@use '../variables/common' as cmn;

.#{cmn.$prefix-skin--common} {
    .navigation {
        a {
            text-decoration: underline;
        }
    }
    .primary-navigation {
        .menu-item {
            > a {
                font-weight: 600;
                text-align: center;
    
                .menu-item-description {
                    font-weight: 300;
                }
            }
        }
        .menu-button-container {
            padding: 16px 8px 0 0;
            #primary-mobile-menu.button {
                padding: 0;
            }
        }
        #primary-mobile-menu {
            .dropdown-icon {
                visibility: hidden;
                position: relative;
                font-size: 0;
                width: var(--icon-size, 44px);
                height: var(--icon-size, 44px);
                overflow: hidden;
                &.open::before {
                    visibility: visible;
                    position: absolute;
                    content: "";
                    display: flex;
                    width: var(--icon-size, 44px);
                    height: var(--icon-size, 44px);
                }
                &.close {
                    svg.svg-icon {
                        visibility: visible;
                        flex: 1 0 auto;
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

