@use "../variables/common" as cmn;

// tablet =<
@media only screen and (min-width: #{cmn.$breakpoint_lg}) {
    .#{cmn.$prefix-skin--common} {
        .widget-area {
            margin-top: calc(3 * var(--global--spacing-vertical));
            display: block;
            max-width: var(--widget-width);
        }
    }
}
// pc =<
@media only screen and (min-width: #{cmn.$breakpoint_xl}) {
    .#{cmn.$prefix-skin--common} {
        .widget-area {
            // margin-top: calc(3 * var(--global--spacing-vertical));
            // display: block;
            .widget.widget_block {
                margin: 0;
                .wp-block-group.tt1skin-widget-columns {
                    max-width: var(--widget-width);
                    > .wp-block-group__inner-container {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        gap: var(--base--margin);
                        > .wp-block-group {
                            margin-top: 0;
                            margin-bottom: 0;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
