@use "./../../../../../common/variables/common" as cmn;
@use "./../../../../../common/mixin_breakpoints" as cmnbp;

@use "./../../skin_config" as skin;

.#{skin.$skin-name} {
    --gap: clamp(calc(var(--global--spacing-vertical) / 2), 3vw, var(--global--spacing-vertical));
    .wp-block-columns {
        gap: var(--gap);
        // coreスタイルの打ち消し
        .wp-block-column:not(:last-child) {
            margin-bottom: 0;
        }
    }
}

@include cmnbp.break-small() {
    // coreスタイルの打ち消し
    .#{skin.$skin-name} {
        .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column:not(:first-child),
        .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column:nth-child(even) {
            margin-left: 0;
        }
    }
}

// gap 未対応のSafari 14.0.x系のためのスタイル
/* autoprefixer: off */
@media not all and (min-resolution: 0.001dpcm) {
    @supports (not (translate: none)) {
        // Safari 14.0.x だけに適用される CSS
        .wp-block-column + .wp-block-column {
            margin-top: var(--gap);
        }
        .wp-block-column.is-style-card--member {
            margin-top: max(calc(10% + var(--gap)), calc(100px + var(--gap)));
        }
    }
}
@include cmnbp.break-small() {
    @media not all and (min-resolution: 0.001dpcm) {
        @supports (not (translate: none)) {
            // Safari 14.0.x だけに適用される CSS
            .#{skin.$skin-name} {
                .wp-block-columns {
                    .wp-block-column + .wp-block-column {
                        margin-top: 0;
                        margin-left: var(--gap);
                        &.is-style-card--member {
                            margin-top: max(calc(10% + var(--gap)), calc(100px + var(--gap)));
                        }
                    }
                    .wp-block-column:nth-child(3n) {
                        margin-top: var(--gap);
                        margin-left: 0;
                        &.is-style-card--member {
                            margin-top: max(calc(10% + var(--gap)), calc(100px + var(--gap)));
                        }
                    }
                }
            }
        }
    }
}
@include cmnbp.break-medium() {
    @media not all and (min-resolution: 0.001dpcm) {
        @supports (not (translate: none)) {
            // Safari 14.0.x だけに適用される CSS
            .#{skin.$skin-name} {
                .wp-block-columns {
                    .wp-block-column:nth-child(3n) {
                        margin-top: 0;
                        margin-left: var(--gap);
                    }
                }
            }
        }
    }
}
/* autoprefixer: on */