@use './../../skin_config' as skin;
@use "./../../colors" as color;

.wp-block-group,
.#{skin.$skin-name} .wp-block-group {
    &.is-style-section-mission {
        position: relative;
        h2 + .wp-block-buttons {
            margin-top: 2em;
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            display: flex;
            width: min(15vw, 180px);
            height: min(15vw, 180px);
            background-size: contain;
            background-repeat: no-repeat;
        }
        &::before {
            top: max(-7vw, -90px);
            left: max(-7vw, -90px);
            background-image: svg-load("../../../../build/images/icons/bottles.svg", fill=#{color.$color-accent-01-500});
        }
        &::after {
            bottom: min(7vw, 90px);
            right: max(-7vw, -90px);
            transform: rotate(-60deg);
            background-image: svg-load("../../../../build/images/icons/bottles.svg", fill=#{color.$color-accent-02-500});
        }
    }
}
