@use "./../../../../../common/variables/common" as cmn;
@use "./../../skin_config" as skin;

.#{skin.$skin-name} {
    .wp-block-columns {
        gap: clamp( 1rem, 3vw, 2rem );
    }
}

// tablet =<
@media only screen and (min-width: #{cmn.$breakpoint_sm}) {
    .#{skin.$skin-name} {
        .wp-block-columns .wp-block-column:not(:last-child) {
            margin-bottom: 0;
        }
    }
}

@media (min-width: #{cmn.$breakpoint_md}) {
    .#{skin.$skin-name} {
        .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column:not(:first-child) {
            margin-left: 0;
        }
    }
}
