@use './../../../../../common/variables/common' as cmn;
@use './../../skin_config' as skin;
@use "./../../colors" as color;

.wp-block-latest-posts,
.#{skin.$skin-name} .wp-block-latest-posts {
    &.wp-block-latest-posts__list {
        .wp-block-latest-posts__post-date,
        .wp-block-latest-posts__post-author {
            color: #{color.$color-body-400};
        }
        > li {
            // post title
            > a {
                color: var(--global--color-body);
                &:hover {
                    text-decoration-color: var(--global--color-primary);
                }
            }
            .wp-block-latest-posts__featured-image {
                > a {
                    border: 2px solid var(--global--color-body);
                }
            }
        }
    }
}

@media only screen and (min-width: #{cmn.$breakpoint_md}) {
    .#{skin.$skin-name} .wp-block-latest-posts {
        &.wp-block-latest-posts__list {
            > li {
                // no-image
                &::before {
                    background-color: #fff;
                    background-image: svg-load("../../../../build/images/icons/logo--margined.svg");
                }
            }
        }
    }
}
