@use '../../variables/common' as cmn;

.wp-block-latest-posts,
.#{cmn.$prefix-skin--common} .wp-block-latest-posts {
    &.wp-block-latest-posts__list {
        border-top: 0;
        border-bottom: 0;
        &.is-style-twentytwentyone-latest-posts-dividers > li {
            border-bottom: 0;
        }
        .wp-block-latest-posts__post-date,
        .wp-block-latest-posts__post-author {
            color: #{cmn.$color-body-400};
            font-size: min(4vw, 14px);
            margin-bottom: 0;
            margin-top: 0;
        }
        > li {
            font-size: min(4.5vw, 16px);
            // post title
            > a {
                color: var(--global--color-body);
                font-weight: 700;
                font-size: min(5.5vw, 38px);
                text-decoration-thickness: 2px;
                text-underline-offset: 0.1em;
                &:hover {
                    text-decoration-thickness: 4px;
                    text-decoration-color: var(--global--color-primary);
                }
            }
            .wp-block-latest-posts__featured-image {
                > a {
                    width: 100%;
                    border: 2px solid var(--global--color-body);
                    transition: filter 0.5s;
                    &:hover {
                        filter: contrast(1.3);
                    }
                }
            }
        }
        &.is-grid {
            > li {
                margin: 0 0 1.25em 0;
                // post title
                > a {
                    font-size: min(5vw, 28px);
                }
                .wp-block-latest-posts__featured-image {
                    > a {
                        border-width: 1px;
                    }
                }
            }
            // テーマのスタイルを打ち消し
            &.columns-2,
            &.columns-3,
            &.columns-4,
            &.columns-5,
            &.columns-6 {
                > li {
                    &:nth-last-child(-n+2):nth-child(2n+1),
                    &:nth-last-child(-n+3):nth-child(3n+1),
                    &:nth-last-child(-n+4):nth-child(4n+1),
                    &:nth-last-child(-n+5):nth-child(5n+1),
                    &:nth-last-child(-n+6):nth-child(6n+1) {
                        margin-bottom: 1.25em;
                        ~ li {
                            margin-bottom: 1.25em;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: #{cmn.$breakpoint_md}) {
    .#{cmn.$prefix-skin--common} .wp-block-latest-posts {
        &.wp-block-latest-posts__list {
            > li {
                display: grid;
                grid-template:
                    "image title"
                    "image time"
                    "image excerpt";
                grid-template-columns: calc(25% + 34px) 1fr;
                grid-template-rows: 1fr 1.5em 1fr;
                // post title
                > a {
                    margin-top: 0;
                }
                .wp-block-latest-posts__featured-image {
                    grid-area: image;
                    margin-right: 34px;
                    > a {
                        > img.wp-post-image {
                            height: 18vw !important;
                            min-height: 180px;
                            max-height: 213px;
                            object-fit: cover;
                        }
                    }
                }
            }
            &.is-grid {
                > li {
                    margin: 0 1.25em 0 0;
                    display: flex;
                    flex-direction: column;
                }
                &.columns-3 {
                    > li {
                        &:nth-of-type(3n) {
                            margin-right: 0;
                        }
                    }
                }
                .wp-block-latest-posts__featured-image {
                    margin-right: 0;
                    > a {
                        > img.wp-post-image {
                            height: 24vw !important;
                            min-height: 180px;
                            max-height: 240px;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}
