@use "../../variables/common" as cmn;

.block-editor-block-list__layout .wp-block-button,
.#{cmn.$prefix-skin--common} .wp-block-button {
    .wp-block-button__link {
        transition: background-color 0.3s, border-color 0.3s;
    }
    &.is-style-fill {
        .wp-block-button__link {
            font-size: min(6vw, 21px);
            font-weight: 700;
            padding: calc(1.2 * var(--button--padding-vertical)) calc(1.4 * var(--button--padding-horizontal));
        }
    }
}
