// --- Colors
// purple 
$color-purple-50: #F9E6FC; 
$color-purple-100: #F1CCF7; 
$color-purple-200: #E399EF; 
$color-purple-300: #D566E8; 
$color-purple-400: #C733E0; 
$color-purple-500: #B900D8; 
$color-purple-600: #8B00A2; 
$color-purple-700: #5D006C; 
$color-purple-800: #2E0036; 
$color-purple-900: #130016; 

// primary 
$color-primary-50: #EEE7FE; 
$color-primary-100: #DDCEFB; 
$color-primary-200: #BB9EF8; 
$color-primary-300: #986DF4; 
$color-primary-400: #763DF1; 
$color-primary-500: #540CED; 
$color-primary-600: #3F09B2; 
$color-primary-700: #2A0677; 
$color-primary-800: #15033B; 
$color-primary-900: #080118; 

// pink 
$color-pink-50: #FEEAEF; 
$color-pink-100: #FBD3DD; 
$color-pink-200: #F8A7BB; 
$color-pink-300: #F47C99; 
$color-pink-400: #F15077; 
$color-pink-500: #ED2455; 
$color-pink-600: #B21B40; 
$color-pink-700: #77122B; 
$color-pink-800: #3B0915; 
$color-pink-900: #180409; 

// body 
$color-body-50: #E9E6E9; 
$color-body-100: #D2CCD2; 
$color-body-200: #A499A6; 
$color-body-300: #776779; 
$color-body-400: #49344D; 
$color-body-500: #1C0120; 
$color-body-600: #150118; 
$color-body-700: #0E0110; 
$color-body-800: #070008; 
$color-body-900: #030003; 

// yellow 
$color-yellow-50: #FEFDEB; 
$color-yellow-100: #FBF9D5; 
$color-yellow-200: #F8F3AC; 
$color-yellow-300: #F4ED82; 
$color-yellow-400: #F1E759; 
$color-yellow-500: #EDE12F; 
$color-yellow-600: #B2A923; 
$color-yellow-700: #777118; 
$color-yellow-800: #3B380C; 
$color-yellow-900: #181705; 

