@use './variables/common' as cmn;

:root {
    // icon
    --icon-size: 44px;
}
body.block-editor-writing-flow,
.#{cmn.$prefix-skin--common} {
    --heading--font-size-h1: min(8vw, 64px);
    --global--font-size-page-title: min(8vw, 2.5rem);
    --heading--font-size-h2: min(5.5vw, 2rem);
    --heading--font-size-h3: min(5vw, 1.8rem);
    --global--font-size-body: min(3.8vw, 1.15rem);
    --global--font-size-caption: min(3.5vw, 0.9rem);

    --button--font-size: min(5vw, 1.2rem);
    --button--padding-vertical: min(3vw, 0.8em);
    --button--padding-horizontal: min(6vw, 1.5em);

    --base--margin: 40px;
    --widget-width: 1440px;

    --logo-width--square: 200px;
}
