@use "./colors" as color;
@use './skin_config' as skin;

.#{skin.$skin-name} {
    // font-family
    --font-headings: 'Space Mono';
    --skin--list--font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --skin--ja--font-family: "Noto Sans JP", sans-serif;

    // color
    --global--color-primary: #{color.$color-primary-500};
    --global--color-secondary: #{color.$color-accent-01-500};
    --global--color-body: #{color.$color-body-500};
    --global--color-background: #{color.$color-base-500};
    --global--color-border: #{color.$color-body-400};
}